<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.videojocs.css">
    <link rel="icon" href="../img/f1.jpeg" type="image/x-icon">
    <title>Formula 1 2024</title>
</head>
<body class="fondoF1">
  <div>
    <h1>Formula 1 2024</h1>
  </div>
  <div class="row">
    <div>
      <p class="textoDerecha">El videojuego de Fórmula 1 ofrece a los jugadores la experiencia de correr en los circuitos oficiales del campeonato de Fórmula 1. Los jugadores pueden competir como pilotos de equipos y correr en carreras individuales, temporadas completas o en modo multijugador en línea. El juego proporciona realismo en la conducción, estrategia de carrera y personalización de vehículos</p>
    </div>
    <div class="col-502 row"> 
      <img src="../img/f12.jpeg">
    </div>
    <div class="col-502 row">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NnyCWsA6KSI?si=x_f-SGc2tkm-rAu8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  </div>
  <div class="col-50">
    <h1><strong>Precio: 29.99$</strong></h1>
  </div>
  <div class="col-50">
    <h1><strong>Personajes:</strong></h1>
    <table>
      <tr>
        <td>Fernando Alonso</td>
        <td><img src="../img/alonso.jpeg" alt="Imagen 1"></td>
        <td>Fernando Alonso es un destacado piloto de carreras español conocido por su exitosa carrera en la Fórmula 1. Nacido el 29 de julio de 1981 en Oviedo, España, Alonso ha logrado numerosos éxitos en el automovilismo a lo largo de su carrera</td>
      </tr>
      <tr>
        <td>Lewis Hamilton</td>
        <td><img src="../img/hamilton.jpeg" alt="Imagen 2"></td>
        <td> Lewis Hamilton es un renombrado piloto de carreras británico que compite en la Fórmula 1 para el equipo Mercedes-AMG Petronas Formula One Team. Nacido el 7 de enero de 1985 en Stevenage, Inglaterra, Hamilton es uno de los pilotos más exitosos en la historia de la Fórmula 1.
        </td>
      </tr>
      <tr>
        <td>Max Verstappen</td>
        <td><img src="../img/verstappemn.jpeg" alt="Imagen 3"></td>
        <td>Max Verstappen es un destacado piloto de carreras neerlandés que compite en la Fórmula 1 para el equipo Red Bull Racing. Reconocido por su habilidad, valentía y competitividad.
        </td>
      </tr>
    </table>
  </div>
  <button onclick="window.history.back()">INICIO</button>
</body>
</html>