<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.videojocs.css">
    <link rel="icon" href="../img/fifa.jpeg" type="image/x-icon">
    <title>FIFA24</title>
</head>
<body class="fondofifa">
  <div>
    <h1>FIFA24</h1>
  </div>
  <div class="row">
    <div>
      <p class="textoDerecha">Es un videojuego de simulación de fútbol desarrollado y publicado por EA Sports.Ofrece una experiencia realista de fútbol, con modos de juego que incluyen partidos individuales, carreras como entrenador y gestión de equipos. El juego presenta una variedad de ligas, clubes y jugadores reales, así como características mejoradas en la jugabilidad y gráficos.</p>
    </div>
    <div class="col-502 row"> 
      <img src="../img/fifa2.jpeg">
    </div>
    <div class="col-502 row">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xUrYmYvJ6jo?si=NkUkirdBDh8YPixz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  </div>
  <div class="col-50">
    <h1><strong>Precio: 49.99$</strong></h1>
  </div>
  <div class="col-50">
    <h1><strong>Personajes(Modo de Juego):</strong></h1>
    <table>
      <tr>
        <td>Ultimate Team</td>
        <td><img src="../img/UM.jpeg" alt="Imagen 1"></td>
        <td>En este modo, los jugadores pueden crear su propio equipo de fútbol personalizado utilizando cartas de jugadores obtenidas a través de paquetes de cartas virtuales o mediante la participación en desafíos y eventos en el juego.
        </td>
      </tr>
      <tr>
        <td>Modo Carrera</td>
        <td><img src="../img/carrera.jpeg" alt="Imagen 2"></td>
        <td>Es un modo de juego donde los jugadores pueden tomar el control de un equipo de fútbol como entrenador o gerente y dirigirlo hacia el éxito a lo largo de múltiples temporadas.
        </td>
      </tr>
      <tr>
        <td>Volta Football</td>
        <td><img src="../img/volta.jpeg" alt="Imagen 3"></td>
        <td>Es un modo de juego introducido en la serie FIFA que se centra en el fútbol callejero y el estilo de juego urbano. Los jugadores pueden crear y personalizar sus propios personajes, y competir en partidos rápidos y emocionantes en campos callejeros</td>
      </tr>
    </table>
  </div>
  <button onclick="window.history.back()">INICIO</button>
</body>
</html>