<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.videojocs.css">
    <link rel="icon" href="../img/gtav.jpeg" type="image/x-icon">
    <title>GrandTheftAutoV</title>
</head>
<body class="fondograndtheftautoV">
  <div>
    <h1>Grand Theft Auto V</h1>
  </div>
  <div class="row">
    <div>
      <p class="textoDerecha">GTA V es un juego de acción en un mundo abierto ambientado en Los Santos, una versión ficticia de Los Ángeles. Sigue las historias entrelazadas de tres protagonistas: Michael, un ex ladrón de bancos; Franklin, un joven que busca escapar de la vida criminal; y Trevor, un narcotraficante violento. Los jugadores alternan entre estos personajes en una serie de misiones que incluyen robos, tiroteos y más. .</p>
    </div>
    <div class="col-502 row"> 
      <img src="../img/gta2.jpeg">
    </div>
    <div class="col-502 row">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QkkoHAzjnUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="col-50">
    <h1><strong>Precio: 19.99$</strong></h1>
  </div>
  <div class="col-50">
    <h1><strong>Personajes:</strong></h1>
    <p>Michael: Es un hombre de mediana edad que alguna vez fue un exitoso ladrón de bancos, pero ahora vive una vida suburbana acomodada en Los Santos, una parodia de Los Ángeles.</p>
    <p>Trevor: Trevor es un ex piloto militar convertido en narcotraficante y líder de una banda criminal en el desierto de Blaine County, en la ficticia región de San Andreas.</p>
    <p>Franklin: Franklin busca escapar de su vida de crimen y pobreza trabajando como recaudador de deudas para un concesionario de coches de lujo</p>
  </div>
  <button onclick="window.history.back()">INICIO</button>
</body>
</html>