<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.index.css">
    <link rel="stylesheet" type="text/css" href="../css/style.videojocs.css">
    <link rel="icon" href="../img/gtav.jpeg" type="image/x-icon">
    <title>GrandTheftAutoV</title>
</head>
<body class="fondograndtheftautoV">
  <div>
    <h1>Grand Theft Auto V</h1>
  </div>
  <div class="row">
    <div>
      <p class="textoDerecha">GTA V es un juego de acción en un mundo abierto ambientado en Los Santos, una versión ficticia de Los Ángeles. Sigue las historias entrelazadas de tres protagonistas: Michael, un ex ladrón de bancos; Franklin, un joven que busca escapar de la vida criminal; y Trevor, un narcotraficante violento. Los jugadores alternan entre estos personajes en una serie de misiones que incluyen robos, tiroteos y más. .</p>
    </div>
    <div class="col-502 row"> 
      <img src="../img/gta2.jpeg">
    </div>
    <div class="col-502 row">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QkkoHAzjnUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="col-50">
    <h1><strong>Precio: 19.99$</strong></h1>
  </div>
  <div class="col-50">
    <h1><strong>Personajes:</strong></h1>
    <table>
      <tr>
        <td>Michael</td>
        <td><img src="../img/michael.jpeg" alt="Michael"></td>
        <td>Es un ex ladrón de bancos retirado que vive bajo el programa de protección de testigos en Los Santos, inspirado en Los Angeles. A pesar de sus intentos de llevar una vida tranquila y legal con su familia, se encuentra insatisfecho y aburrido. </td>
      </tr>
      <tr>
        <td>Trevor</td>
        <td><img src="../img/trevor.jpeg" alt="Trevor"></td>
        <td>Es un ex compañero de crimen de Michael, y es el personaje más impredecible y violento del trío. Vive en una caravana en las afueras de Los Santos y dirige una pequeña empresa de narcotráfico.</td>
      </tr>
      <tr>
        <td>Franklin</td>
        <td><img src="../img/franklin.jpeg" alt="Franklin"></td>
        <td>Es un joven afroamericano que trabaja como repo man para un concesionario de autos en Los Santos. Está buscando una salida de su vida de crimen y violencia en el barrio donde creció</td>
      </tr>
    </table>
  </div>
  <button onclick="window.history.back()">INICIO</button>
</body>
</html>