<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.index.css">
    <link rel="stylesheet" type="text/css" href="../css/style.videojocs.css">
    <link rel="icon" href="../img/minecraftjpeg.jpeg" type="image/x-icon">
    <title>Minecraft</title>
</head>
<body class="fondomine">
  <div>
    <h1>Minecraft</h1>
  </div>
  <div class="row">
    <div>
      <p class="textoDerecha">Es un videojuego de mundo abierto que permite a los jugadores explorar, construir y sobrevivir en un mundo generado aleatoriamente compuesto por bloques tridimensionales. Los jugadores pueden recolectar recursos, crear herramientas y construir estructuras de todo tipo, desde simples casas hasta complejas ciudades.</p>
    </div>
    <div class="col-502 row"> 
      <img src="../img/minecraft2.jpeg">
    </div>
    <div class="col-502 row">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MmB9b5njVbA?si=xkOOQIxfIo5bHZiU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
  <div class="col-50">
    <h1><strong>Precio: 29.99$</strong></h1>
  </div>
  <div class="col-50">
    <h1><strong>Personajes</strong></h1>
    <table>
      <tr>
        <td>Steve</td>
        <td><img src="../img/steve.jpeg" alt="Imagen 1"></td>
        <td>Es el personaje principal y jugable en el mundo de Minecraft.Generalmente se representa como un humano con camiseta azul y pantalones azules. Los jugadores controlan a Steve mientras exploran.
        </td>
      </tr>
      <tr>
        <td>Creeper</td>
        <td><img src="../img/creeper.jpeg" alt="Imagen 2"></td>
        <td>Los creepers son criaturas icónicas y hostiles en el mundo de "Minecraft". Se caracterizan por su apariencia verde y su habilidad para explotar cuando están cerca de los jugadores, causando daño y destrucción.</td>
      </tr>
      <tr>
        <td>Aldeano</td>
        <td><img src="../img/aldeano.jpeg" alt="Imagen 3"></td>
        <td>Los aldeanos son personajes no jugables que se encuentran en aldeas generadas aleatoriamente en el mundo de "Minecraft". Estos personajes tienen una apariencia humana simplificada y realizan diversas actividades dentro de la aldea, como trabajar en campos, criar animales o comerciar con los jugadores.
        </td>
      </tr>
    </table>
  </div>
  <button onclick="window.history.back()">INICIO</button>
</body>
</html>