<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.index.css">
    <link rel="stylesheet" type="text/css" href="../css/style.videojocs.css">
    <link rel="icon" href="../img/nba.jpg" type="image/x-icon">
    <title>NBA2K24</title>
</head>
<body class="fondonba">
  <div>
    <h1> NBA 2K24</h1>
  </div>
  <div class="row">
    <div>
      <p class="textoDerecha">Es un videojuego de simulación de baloncesto que forma parte de la exitosa serie "NBA 2K". Desarrollado por Visual Concepts y publicado por 2K Sports, el juego ofrece una experiencia realista de baloncesto, con gráficos mejorados, controles refinados y una amplia gama de características tanto para jugadores individuales como para multijugador.</p>
    </div>
    <div class="col-502 row"> 
      <img src="../img/nba2.jpeg">
    </div>
    <div class="col-502 row">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OJS1BVniz5c?si=5GRwIh85VJBgP6zP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
  <div class="col-50">
    <h1><strong>Precio: 14.99$</strong></h1>
  </div>
  <div class="col-50">
    <h1><strong>Personajes</strong></h1>
    <table>
      <tr>
        <td>Jugadores de la NBA</td>
        <td><img src="../img/jugadores.jpeg" alt="Imagen 1"></td>
        <td>Estos son los atletas reales de la NBA, representados con gran detalle y realismo en el juego. Incluyen estrellas actuales como LeBron James, Kevin Durant y Stephen Curry, así como leyendas del pasado como Michael Jordan y Magic Johnson.
        </td>
      </tr>
      <tr>
        <td>Personajes personalizados</td>
        <td><img src="../img/personajes.jpeg" alt="Imagen 2"></td>
        <td>En modos como MiCarrera y MiEquipo, los jugadores pueden crear y personalizar sus propios personajes, que pueden ser jugadores de baloncesto profesionales, gerentes generales o entrenadores.
        </td>
      </tr>
      <tr>
        <td>Entrenadores y personal técnico</td>
        <td><img src="../img/entrenador.jpeg" alt="Imagen 3"></td>
        <td>Además de los jugadores, el juego también presenta entrenadores y otros miembros del personal técnico de los equipos de la NBA, que pueden desempeñar un papel en la gestión y el desarrollo de los equipos en modos como MiCarrera y MiGM.</td>
      </tr>
    </table>
  </div>
  <button onclick="window.history.back()">INICIO</button>
</body>
</html>